<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RandFood App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("RandFood", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Početna", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Restorani", "Index", "Restorani", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Jela", "Index", "Jeloes", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Prijedlozi", "Index", "Predlozi", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>

            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Početna", "Index", "Home")
                @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
                {
            @:> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
                }
                @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
                {
            @:> @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
                }
            </li>

        </ol>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RandFood. App by Mijo Lučić</p>
        </footer>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
